entrypoint = "main.py"
modules = ["python-3.11", "nodejs-20", "python3"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc", "xsimd"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true
integrations = ["javascript_log_in_with_replit:1.0.0"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 36191
externalPort = 3001

[[ports]]
localPort = 41551
externalPort = 3002

[[ports]]
localPort = 43097
externalPort = 3000

[[ports]]
localPort = 43849
externalPort = 3003

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CelestiNav Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CelestiNav Backend"

[[workflows.workflow]]
name = "CelestiNav Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "CelestiNav Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"
